<% @tasks.each do |task| %>
  <ul>
    <li>
      <%= task.name %>
      <%= task.content %>
      <%= link_to 'Show', task_path(task) %> |
      <%= link_to 'Edit', edit_task_path(task) %>
    </li>
  </ul>
<% end %>
